@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

@layer components {
  .option {
    @apply hidden sm:flex cursor-pointer md:hover:bg-gray-100 dark:md:hover:bg-dark-light transition duration-200 ease-out font-medium sm:px-2 sm:py-1 rounded-md text-sm sm:text-base;
  }

  .col-1 {
    @apply flex-grow max-w-[50%] sm:max-w-[60%] text-left pl-4 text-black dark:text-gray-300;
  }

  .col-2 {
    @apply flex-grow max-w-[30%] text-left dark:text-gray-300;
  }

  .col-3 {
    @apply flex-grow max-w-[20%] sm:max-w-[10%] text-center dark:text-gray-300;
  }
  .row {
    @apply md:hover:bg-blue-100 dark:md:hover:bg-dark-hover rounded-full p-1 cursor-pointer text-xs sm:text-sm md:text-base odd:bg-gray-100 dark:odd:bg-dark-mid odd:sm:bg-white dark:odd:sm:bg-dark-extra  odd:rounded-none odd:sm:rounded-full text-gray-600 dark:bg-dark-extra;
  }
}
